<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户页面</title>
</head>
<body>
<h1>添加用户页面</h1>
<form action="/addBook" method="post">
    <p><label>编号 * <input type="text" name="id"></label> </p>
    <p><label>书名 * <input type="text" name="name"></label></p>
    <p><label>出版社 <input type="text" name="publisher"></label> </p>
    <p><label>出版时间<input type="date"  name="publish_time"></label></p>
    <p><label>价格<input type="number" name="price" step="any"></label></p>
    <p><label>类别<input type="text" name="type"></label></p>
    <p><input type="submit" value="添加书籍"></p>
</form>
</body>
</html>