<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <p><label>名称<input type="text"> </label><input type="submit" value="搜索"></p>
</form>
<table>
    <tr>
        <td>编号</td>
        <td>书籍名称</td>
        <td>出版社</td>
        <td>类别</td>
        <td>价格</td>
        <td>操作</td>
    </tr>
    <tr th:each="book:${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.type}"></td>
        <td th:text="${book.price}"></td>
        <td><a th:href="|/changeBookShow?id=${book.id}|">修改图书</a> </td>
    </tr>
</table>
</body>
</html>