<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
</head>
<body>
<h1>管理员初始页面</h1>
<p><a href="adminIndex.html">显示所有用户</a></p>
<p><a href="listBooks_admin.html">显示所有图书</a></p>
<!--<p><a href="#">显示所有借阅关系</a></p>-->
<p>下面这个表格用来显示上面点了之后的各种信息，默认是列出所有用户</p>
<table>
    <tr>
        <td>
            编号
        </td>
        <td>
            书籍名称
        </td>
        <td>
            出版社
        </td>
        <td>
            类别
        </td>
        <td>
            价格
        </td>
    </tr>
    <tr>
        <td>
            123
        </td>
        <td>
            高数
        </td>
        <td>
            兰大出版社
        </td>
        <td>
            教科书
        </td>
        <td>
            19.3
        </td>
        <td>
            <a href="#">修改</a>
        </td>
        <td>
            <a href="#">删除</a>
        </td>
    </tr>
    <tr>
        <td>
            123
        </td>
        <td>
            高数
        </td>
        <td>
            兰大出版社
        </td>
        <td>
            教科书
        </td>
        <td>
            19.3
        </td>
        <td>
            <a href="#">修改</a>
        </td>
        <td>
            <a href="#">删除</a>
        </td>
    </tr>

</table>
</body>
</html>