<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
</head>
<body>
<h1>管理员初始页面</h1>
<p><a href="listUsers_admin.html">显示所有用户</a></p>
<p><a href="listBooks_admin.html">显示所有图书</a></p>
<!--<p><a href="#">显示所有借阅关系</a></p>-->
<p>下面这个表格用来显示上面点了之后的各种信息，默认是列出所有用户</p>
<table>
    <tr>
        <td>
            用户名
        </td>
        <td>
            姓名
        </td>
    </tr>
    <tr>
        <td>
            <a href="changeUser_admin.html">a7889280</a>
        </td>
        <td>
            lYanf
        </td>
    </tr>
    <tr>
        <td>
            <a href="#">a7889280</a>
        </td>
        <td>
            lYanf
        </td>
    </tr>
    <tr>
        <td>
            <a href="#">a7889280</a>
        </td>
        <td>
            lYanf
        </td>
    </tr>
</table>
</body>
</html>