<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<h1>注册页面</h1>
<form action="/userSignUp" method="post">
    <p><label>用户名 * <input type="text" name="ID"></label> </p>
    <p><label>密码 * <input type="password" name="PW"></label></p>
    <p><label>确认密码 * <input type="password" name="PW2"></label> </p>
    <p><label>姓名<input type="text"  name="userName"></label></p>
    <p><label>院系<input type="text" name="school"></label></p>
    <p><label>专业<input type="text" name="major"></label></p>
    <p><label>兴趣爱好<input type="text" name="hobby"></label></p>
    <p><label>出生日期<input type="date" name="bornDate"></label></p>
    <p><label>年级<input type="number" name="grade"></label></p>
    <p><input type="submit" value="注册"></p>
</form>
</body>
</html>